@media (max-width: 1024px) {

    app-unregistered,
    app-sansinukob {
        .alamat {
            .container {
                width: percentage(790px/1024px);
            }
        }
        .sansinukob-chronicles {
            .container {
                .video-recap {
                    .content {
                        width: percentage(790px/1024px);
                    }
                }
                .breaker {
                    &.latest-updates {
                        .banners {
                            .banner {
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
        .map-fold {
            .focus {
                display: none;
            }
            .pop-up {
                .container {
                    .row>*.map {
                        padding: 0;
                    }
                }
                &.trade {
                    .map {
                        img {
                            margin-top: -50px;
                        }
                    }
                }
                &.desert,
                &.farm {
                    .map {
                        img {
                            margin-top: 0;
                        }
                    }
                }
                &.fishing {
                    .map {
                        img {
                            margin-top: 60px;
                        }
                    }
                }
            }
        }
    }
    app-paguuri {
        .paguuri-container {
            .welcome {
                width: 100%;
            }
        }
    }
    app-login {
        .welcome {
            .writeup {
                .content {
                    form {
                        width: percentage(390px/567px);
                    }
                    .bottom {
                        width: percentage(370px/567px);
                    }
                }
            }
        }
    }
    app-paguuri-questions,
    app-tour {
        .paguuri-container .welcome {
            width: 100%;
        }
    }
    .wikia-region {
        .banner-region, .topics {
            .container {
                max-width: 100%;

                .writeup {
                    width: 85%;
                }
            }
        }
        .topics {
            padding: 0 10px;
            .topic {
                height: 265px;
                margin: 0 20px 20px 0;
                width: percentage(485px/1004px);
            }
        }
    }
}