@media (max-width: 768px){
	.unregistered {

        .map-fold {
            min-height: auto;
            padding: 20px 0;
            position: relative;
            >.container {
            	display: block;
                .left, .right {
                    width: 100%;
                    display: block;
                    margin: auto auto;
                }
                .left {
                	p {
                		&.title {
                			margin-bottom: 0;
                		}
                		&.sub, &.small {
                			width: percentage(500px/730px);
                			margin: 20px auto;
                		}
                	}
                	hr {
                		width: 60%;
                	}
                }
                .right {
                    position: static;
                    max-height: unset;

                    .mobile {
                    	width: 60%;
                    	margin: auto auto;
                    }
                }
            }
            .pop-up {
            	min-height: 100vh;
            }
        }
        .alamat {
        	.container {
        		width: 85%;
        	}
        }
        .sansinukob-chronicles {
        	.container {
        		.breaker {
        			&.featured-artwork {
						.content {
							.slick-arrow {
								&.slick-prev {
									left: -39px;
								}
							}
						}
        			}
        			&.latest-updates {
        				.banners {
        					.banner {
        						.inner {
        							height: 250px;
        							.emblem {
        								margin: 0 auto;
        							}
        							.writeup {
        								p {
        									font-size: 0.875em;
        								}
        							}
        						}
        					}
        				}
        			}
        		}
        	}
        }
	}
}