<app-banner-ad></app-banner-ad>
<div class="container paguuri-container">
    <app-top-nav-social-login></app-top-nav-social-login>
    <div class="welcome">
        <img src="assets/images/common/bagani-logo.png" class="logo">
        <div class="writeup">
            <div class="content">
                <div class="heading">
                    <p>ANG PAG-UURI</p>
                </div>
                <div class="row">
                    <div class="left">
                        <p>This is the beginning of your journey. Discover which tribe you belong to.</p>
                        <div class="banner-animate">
                            <img src="assets/images/common/banner-desert-plain.png" alt="" class="banner">
                            <img src="assets/images/common/banner-farm-plain.png" alt="" class="banner">
                            <img src="assets/images/common/banner-trade-plain.png" alt="" class="banner">
                            <img src="assets/images/common/banner-fishing-plain.png" alt="" class="banner">
                            <img src="assets/images/common/banner-forest-plain.png" alt="" class="banner">
                        </div>
                        <div class="bottom">
                            <p>But first, you must create a Kapamilya Account.</p>
                            <p class="small">Already have a Kapamilya Account? <a href="#">Login</a></p>
                        </div>
                    </div>
                    <div class="right">
                        <form action="#">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" name="email" class="email">
                            </div>
                            <div class="form-group">
                                <label for="kapamilya-username">Kapamilya Username</label>
                                <input type="text" name="kapamilya-username" class="kapamilya-username">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" name="password" class="password">
                            </div>
                            <div class="form-group">
                                <label for="password2">Confirm Password</label>
                                <input type="password" name="password2" class="password2">
                            </div>
                            <p class="terms">By clicking submit, you agree to the <a href="#">Terms &amp; Conditions.</a></p>
                            <div class="button">
                                <button class="btn btn-submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>