<app-header></app-header>
<div class="dashboard">
    <section class="video-section desert" [class.morning]="hour > 5 && hour < 12" [class.noon]="hour > 11 && hour < 18" [class.evening]="hour > 17 || hour < 6">
        <video width="100%" height="100%" autoplay muted loop>
            <source src="assets/images/backgrounds/video/desert/desert-{{timeClass}}.mp4" type="video/mp4"> Your browser does not support the video tag.
        </video>
    </section>
    <section class="welcome-container">
        <div class="container">
            <p class="welcome">Welcome back, <span *ngIf="userDetails.username">{{userDetails.username}}</span><span *ngIf="!userDetails.username">Kapamilya</span>!</p>
        </div>
    </section>
    <section class="notifications">
        <div class="container">
            <div class="notification {{notification.type}}" *ngFor="let notification of notifications">
                <p>{{notification.message}}</p>
                <a routerLink="/challenges" class="btn btn-view" *ngIf="notification.type == 'challenge'">View</a>
                <a class="btn btn-ok" *ngIf="notification.type == 'announcement'">Ok</a>
            </div>
        </div>
    </section>
    <section class="achievements" *ngIf="achievements.length > 0">
        <div class="container">
            <div class="title">
                <p>Achievements</p>
            </div>
            <div class="grid grid-7 icons-grid achievements-grid badges">
                <div class="grid-cell" *ngFor="let achievement of achievements">
                    <span class="badge badge-full badge-{{achievement.status}}" *ngIf="achievement.status != 'unearned'">
                        <span class="badge-icons {{userDetails.tribe}}-{{achievement.title}}-icon" *ngIf="achievement.title == 'citizen'"></span>
                    <span class="badge-icons {{achievement.title}}-icon" *ngIf="achievement.title != 'citizen'"></span>
                    <span class="plate plate-{{userDetails.tribe}}">{{achievement.title}}</span>
                    </span>
                    <span class="badge badge-full badge-{{achievement.status}}" *ngIf="achievement.status == 'unearned'">
                        <span class="badge-icons {{userDetails.tribe}}-{{achievement.title}}-icon-gray" *ngIf="achievement.title == 'citizen'"></span>
                    <span class="badge-icons {{achievement.title}}-icon-gray" *ngIf="achievement.title != 'citizen'"></span>
                    <span class="plate plate-{{userDetails.tribe}}">{{achievement.title}}</span>
                    </span>
                </div>
            </div>
        </div>
    </section>
    <section class="topics">
        <div class="container">
            <div class="row">
                <div class="topic explore-sansinukob">
                    <a routerLink="/stories" class="content">
                        <p class="title">Explore
                            <br>Sansinukob</p>
                        <a href="#" class="btn btn-explore">Explore</a>
                    </a>
                </div>
                <div class="topic start-test">
                    <a routerLink="/history" class="content">
                        <p class="title">Test Your
                            <br>knowledge</p>
                        <a href="#" class="btn btn-explore">start</a>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="sansinukob-chronicles">
        <div class="container">
            <div class="video-recap">
                <img src="assets/images/common/sansinukob-chronicles.png" alt="sansinukob-chronicles" class="title-img">
                <div class="content">
                    <div class="video">
                        <iframe [src]="videoRecap" class="media" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        <div class="social">
                            <a href="#"><img src="assets/images/common/social-fb.png" alt=""></a>
                            <a href="#"><img src="assets/images/common/social-twitter.png" alt=""></a>
                        </div>
                    </div>
                    <div class="writeup">
                        <p>{{videoRecapDetails}}</p>
                    </div>
                </div>
            </div>
            <div class="latest-updates breaker">
                <div class="content">
                    <p class="title">Latest Updates</p>
                    <div class="banners">
                        <ngx-slick #slickModal="slick-modal" [config]="updatesSlideConfig">
                            <a [href]="update.link" class="banner {{update.tribe}}" ngxSlickItem *ngFor="let update of updates">
                                <div class="inner">
                                    <img [src]="update.thumbnail" alt="hover-image" class="hover" *ngIf="update.thumbnail">
                                    <img [src]="update.emblem" alt="emblem-{{userDetails.tribe}}" class="emblem">
                                    <div class="writeup">
                                        <p>{{update.chapterTitle}} </p>
                                        <p>{{update.desc}}</p>
                                    </div>
                                </div>
                            </a>
                        </ngx-slick>
                    </div>
                </div>
            </div>
            <div class="featured-artwork breaker">
                <div class="content">
                    <p class="title">Featured Artwork</p>
                    <ngx-slick #slickModal="slick-modal" [config]="artworkSlideConfig">
                        <div class="slide" ngxSlickItem *ngFor="let artwork of artworks">
                            <img [src]="artwork.image" alt="{{artwork.name}}" (click)="fanartModal(artwork)">
                            <div class="name">
                                <p>{{artwork.name}}</p>
                            </div>
                        </div>
                    </ngx-slick>
                </div>
            </div>
            <div class="beyond-sansinukob breaker">
                <div class="content">
                    <p class="title">Beyond Sansinukob</p>
                    <div class="articles">
                        <div class="article" *ngFor="let article of articles">
                            <div class="thumb"><a [href]="article.link"><img [src]="article.image" alt="{{article.title}}"></a></div>
                            <p class="article-title"><a [href]="article.link">{{article.title}}</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>