<app-header></app-header>
<div class="wikia-inner">
    <section class="video-section fishing" [class.morning]="hour > 5 && hour < 12" [class.noon]="hour > 11 && hour < 18" [class.evening]="hour > 17 || hour < 6">
        <video autoplay muted loop>
            <source src="assets/images/backgrounds/video/fishing/fishing-{{timeClass}}.mp4" type="video/mp4">
        </video>
    </section>
    <section class="writeup-container">
        <div class="container">
            <div class="content">
                <div class="title">Stories</div>
                <div class="writeup">
                    <p class="chapter">Chapter 05</p>
                    <p class="chapter-title">Lorem ipsum dolor sit amet</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias eveniet ipsum iste sit accusantium facilis, incidunt reprehenderit deserunt ipsam ut commodi, corporis sed eaque explicabo et laudantium provident, qui fuga! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum quidem officia dicta consectetur assumenda hic pariatur tempora, neque cupiditate debitis provident rem, magnam distinctio voluptatibus. Sit rem error labore dolores.</p>
                    <div class="media video">
                        <img src="assets/images/common/img-wikia-inner-placeholder.png" alt="placeholder">
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias eveniet ipsum iste sit accusantium facilis, incidunt reprehenderit deserunt ipsam ut commodi, corporis sed eaque explicabo et laudantium provident, qui fuga! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum quidem officia dicta consectetur assumenda hic pariatur tempora, neque cupiditate debitis provident rem, magnam distinctio voluptatibus. Sit rem error labore dolores.</p>
                    <div class="media photo">
                        <img src="assets/images/common/img-wikia-inner-placeholder.png" alt="placeholder">
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias eveniet ipsum iste sit accusantium facilis, incidunt reprehenderit deserunt ipsam ut commodi, corporis sed eaque explicabo et laudantium provident, qui fuga! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum quidem officia dicta consectetur assumenda hic pariatur tempora, neque cupiditate debitis provident rem, magnam distinctio voluptatibus. Sit rem error labore dolores.</p>

                </div>
            </div>
        </div>
    </section>
    <section class="other-chapters">
        <div class="container">
            <div class="prev">
                <a href="#" class="btn-prev">
                    <span class="chapter">Chapter 01</span>
                    <span class="title">Lorem ipsum dolor sit amet</span>
                </a>
            </div>
            <div class="next">
                <a href="#" class="btn-next">
                    <span class="chapter">Chapter 03</span>
                    <span class="title">Lorem ipsum dolor sit amet</span>
                </a>
            </div>
        </div>
    </section>
    <section class="comment-section">
        <div class="container">
            <div class="content">
                <p class="title">What are your thoughts?</p>
                <img src="assets/images/common/img-commenting-placeholder.png" class="placeholder" alt="">
                <!-- <div class="comment-box">
                    <div class="avatar"><img [src]="userDetails.profilePicture" class="{{userDetails.tribe}}" alt=""></div>
                    <form action="#">
                        <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
                        <input type="submit" class="btn btn-post" value="Post">

                    </form>
                </div>
                <div class="comments">
                    <p>5 Comments</p>
                    <div class="item">
                        <div class="avatar"><img [src]="userDetails.profilePicture" class="fishing" alt=""></div>
                        <p class="comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit saepe quos excepturi. Aspernatur labore saepe aut dignissimos adipisci delectus consectetur, quasi distinctio perspiciatis magni ullam molestias possimus ab amet. Quae.</p>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <section class="latest-updates">
        <div class="container">
            <div class="content">
                <p class="title">Latest Updates</p>
                <div class="banners">
                    <ngx-slick #slickModal="slick-modal" [config]="updatesSlideConfig">
                        <button class="banner {{update.tribe}}" ngxSlickItem *ngFor="let update of updates">
                            <div class="inner">
                                <img [src]="update.thumbnail" alt="hover-image" class="hover" *ngIf="update.thumbnail">
                                <img [src]="update.emblem" alt="emblem-trade" class="emblem">
                                <div class="writeup">
                                    <p>{{update.chapterTitle}} </p>
                                    <p>{{update.desc}}</p>
                                </div>
                            </div>
                        </button>
                    </ngx-slick>
                </div>
            </div>
        </div>
    </section>
</div>