<header class="header desert">
    <div class="container">
        <div class="menu-container">
            <a class="burger-menu"></a>
        </div>
        <div class="avatar-container">
            <a href="https://placeholder.com" class="avatar"><img src="http://via.placeholder.com/100x100"></a>
        </div>
        <div class="logo-container"><img src="assets/images/common/bagani-logo.png" alt="" class="logo"></div>
    </div>
</header>
<div class="menu-expanded">
	<div class="container">
		<ul class="main-menu">
			<li><a>Home</a></li>
			<li>
				<a>Sansinukob</a>
				<ul class="sub">
					<li><a>Desert Region</a></li>
					<li><a>Forest Region</a></li>
					<li><a>Trade Region</a></li>
					<li><a>Fishing Region</a></li>
					<li><a>Farming Region</a></li>
				</ul>
			</li>
			<li><a>Challenges</a></li>
			<li><a>Logout</a></li>
		</ul>
	</div>
</div>