<header class="header desert">
    <div class="container">
        <div class="menu-container">
            <a class="burger-menu"></a>
        </div>
        <div class="avatar-container">
            <a href="https://placeholder.com" class="avatar"><img src="http://via.placeholder.com/100x100"></a>
        </div>
        <div class="logo-container"><img src="assets/images/common/bagani-logo.png" alt="" class="logo"></div>
    </div>
</header>
<div class="menu-expanded">
    <div class="container">
        <ul class="main-menu">
            <li class="home"><a>Home</a></li>
            <li class="sansinukob">
                <a>Sansinukob</a>
                <ul class="sub">
                    <li class="desert"><a>Desert Region</a></li>
                    <li class="forest"><a>Forest Region</a></li>
                    <li class="trade"><a>Trade Region</a></li>
                    <li class="fishing"><a>Fishing Region</a></li>
                    <li class="farming"><a>Farming Region</a></li>
                </ul>
            </li>
            <li class="challenges"><a>Challenges</a></li>
            <li class="logout"><a>
				<span class="avatar"><img src="http://via.placeholder.com/100x100"></span>
				<span>Logout</span>
			</a></li>
        </ul>
        <div class="footer">
            <div class="container">
                <ul>
                    <li>
                        <a>Privacy Policy</a>
                    </li>
                    <li>
                        <a>Terms &amp; Conditions</a>
                    </li>
                </ul>
                <p>&copy;Copyright 2018. ABS-CBN. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>