<section class="main desert">
    <app-header></app-header>
    <div class="container paguuri-container">
        <div class="welcome">
            <div class="writeup">
                <div class="content">
                    <div class="heading">
                        <img src="assets/images/common/img-babaylan.png" alt="babaylan" class="babaylan">
                    </div>
                    <ngx-slick class="" #slickModal="slick-modal" [config]="tourSlideConfig" id="tourSlide">
                        <div class="slide tour-1" ngxSlickItem>
                            <p>My name is Babaylan, and I will be your guide in Sansinukob. I welcome you to your new home, the Desert Region. </p>
                            <div class="breaker"></div>
                            <p>Why don’t you introduce yourself?</p>
                            <form action="#">
                                <div class="form-group upload-photo">
                                    <label for="profile-picture">Upload Profile Picture</label>
                                    <input type="file" name="profile-picture" class="profile-picture">
                                    <div class="upload">
                                        <input type="text" readonly>
                                        <button class="browse">Browse</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="bagani-name">Create Your Bagani Name</label>
                                    <input type="text" name="bagani-name" class="bagani-name">
                                </div>
                                <div class="button">
                                    <a href="#" class="goNext">Do later</a>
                                    <input type="submit" class="btn btn-register" value="submit">
                                </div>
                            </form>
                        </div>
                        <div class="slide tour-2" ngxSlickItem>
                            <p>Hi Mayumi!</p> 
                            <p>As a member of the tribe, you are expected to contribute and provide aid in the coming battles. But before those, you have to prepare yourself by gaining knowledge about your region and the lands beyond.
                            </p>
                            <div class="breaker"></div>
                            <img src="assets/images/common/img-emblems-invert.png" alt="" class="emblems">
                            <div class="button">
                                <a href="#" class=" btn goNext">Next</a>
                            </div>
                        </div>
                        <div class="slide tour-3" ngxSlickItem>
                            <p>I urge you to learn as much since I’ll be sending you questions daily to test your knowledge.</p>
                            <div class="breaker"></div>
                            <img src="assets/images/common/icon-challenges-lg.png" alt="" class="emblems">
                            <p class="badge-title">Challenges</p>
                            <div class="button">
                                <a href="#" class=" btn goNext">Next</a>
                            </div>
                        </div>
                        <div class="slide tour-4" ngxSlickItem>
                            <p>Your efforts in enriching your understanding of Sansinukob will be rewarded with badges. </p>
                            <div class="breaker"></div>
                            <img src="assets/images/badges/badge-default.png" alt="" class="emblems">
                            <p>Badges</p>
                            <div class="button">
                                <a href="#" class=" btn goNext">Next</a>
                            </div>
                        </div>
                        <div class="slide tour-5" ngxSlickItem>
                            <p>There are many badges to collect - refer to your Journal for more information on what you need to do to unlock these.</p>
                            <div class="breaker"></div>
                            <img src="assets/images/badges/badge-journal.png" alt="" class="emblems">
                            <p>Journal</p>
                            <div class="button">
                                <a href="#" class=" btn goNext">Next</a>
                            </div>
                        </div>
                        <div class="slide tour-6" ngxSlickItem>
                            <p>And while I may be your guide, you can also turn to others. Click on the chat function to talk to your fellow tribe members or even the members of other tribes. If you need my guidance, click on the help function.</p>
                            <div class="breaker"></div>
                            <div class="emblems">
                            	<div class="emblem">
                            		<img src="assets/images/badges/badge-chat.png" alt="" class="emblem">
                           			<p>Chat</p>
                            	</div>
                            	<div class="emblem">
                            		<img src="assets/images/badges/badge-help.png" alt="" class="emblem">
                           			<p>Help</p>
                            	</div>
                            </div>
                            <div class="button">
                                <a href="#" class=" btn goNext">Next</a>
                            </div>
                        </div>
                        <div class="slide tour-7" ngxSlickItem>
                            <p>This is only the beginning. The real challenges will arrive soon. Take this time to know more about the world and to prepare for what’s coming. </p>
                            <div class="breaker"></div>
                            <p>Your journey starts now—learn more about your tribe and click the button!</p>
                            <div class="button">
                                <a href="#" class="btn btn-register">Start</a>
                            </div>
                        </div>
                    </ngx-slick>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</section>