<div class="main-content" [ngClass]="userDetails.tribe">
    <app-header></app-header>
    <div class="container paguuri-container">
        <div class="welcome">
            <img src="assets/images/common/bagani-logo.png" class="logo">
            <p class="instruction">You only get one chance to answer the question correctly.</p>
            <div class="writeup">
                <div class="content">
                    <div class="heading timer">
                    	<p>00:00:00</p>
                    </div>
                    <p class="question">Who was severely injured during the surprised attack?</p>
                    <div class="hint-container">
                    	<img src="assets/images/common/img-babaylan.png" alt="babaylan" class="babaylan">
                    	<div class="hint">
                    		<img src="assets/images/common/img-hint-yellow.png" alt="">
                    		<p>Lorem Ipsum Dolor Sit Amet. Consecteteur Sit Amet. Consecteteur</p>
                    	</div>
                    	<div class="brand">
                    		<p>Brand</p>
                    	</div>
                    </div>
                    <div class="choices">
                    	<a href="#">Ganda</a>
                    	<a href="#">Liksi</a>
                    	<a href="#">Lakas</a>
                    	<a href="#">Lakam</a>
                    </div>
                    <div class="button">
                        <a href="#" class="btn btn-submit">Submit</a>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>