<div class="main-content" [ngClass]="userDetails.tribe">
    <app-header></app-header>
    <div class="container paguuri-container">
        <div class="welcome">
            <img src="assets/images/common/bagani-logo.png" class="logo">
            <p class="instruction" *ngIf="challengeQuestion != ''">You only get one chance to answer the question correctly.</p>
            <div class="writeup">
                <div class="content" *ngIf="challengeQuestion">
                    <div class="heading timer">
                        <p>00:00:00</p>
                    </div>
                    <p class="question">{{challengeQuestion.question}}</p>
                    <div class="hint-container" [class.no-brand]="!challengeQuestion.brand">
                        <img src="assets/images/common/img-babaylan.png" alt="babaylan" class="babaylan">
                        <div class="hint">
                            <img src="assets/images/common/img-hint-yellow.png" alt="">
                            <p>{{challengeQuestion.hint}}</p>
                        </div>
                        <div class="brand">
                            <p>Brand</p>
                        </div>
                    </div>
                    <div class="choices">
                        <a (click)="selectedAnswer(choice)" *ngFor="let choice of challengeQuestion.choices">{{choice.choice}}</a>
                    </div>
                    <div class="button">
                        <a class="btn btn-submit" (click)="checkAnswer()">Submit</a>
                    </div>
                </div>
                <div class="content" *ngIf="!challengeQuestion">
                    <div class="heading timer">
                        <p>00:00:00</p>
                    </div>
                    <p class="question">There are no challenges right now. <br> <br>Take this time to learn more about Sansinukob or to chat with others.</p>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>
<section class="modal challengeAnswerModal" [hidden]="!showModalChallengeAnswer" fadeInOut>
    <div class="container">
        <div class="close">
            <a (click)="closeModal()"><img src="assets/images/common/icon-close-dark.png" alt=""></a>
        </div>
        <div class="modal-content">
            <div class="content">
                <div class="top">
                    <img src="assets/images/common/img-babaylan-lg.png" alt="">
                </div>
                <div class="results correct">
                    <p class="result">Correct!</p>
                    <p class="writeup"><span>May tama ka &ndash;</span> your tribe would be proud!</p>
                </div>
                <div class="results wrong" style="display: none;">
                    <p class="result">Wrong!</p>
                    <p class="writeup"><span>Anyare?</span> Basa-basa rin ‘pag may time, ha.</p>
                </div>
                <div class="share">
                    <p>Share</p>
                    <ul>
                        <li><a href="#"><img src="assets/images/common/social-fb.png" alt="fb"></a></li>
                        <li><a href="#"><img src="assets/images/common/social-twitter.png" alt="twitter"></a></li>
                    </ul>
                </div>
                <div class="buttons">
                    <a href="#" class="btn">View Journal</a>
                    <a href="#" class="btn">Go Back Home</a>
                </div>
            </div>
        </div>
    </div>
</section>