<app-banner-ad></app-banner-ad>
<div class="container paguuri-container">
    <app-top-nav-social-login></app-top-nav-social-login>
    <div class="welcome">
        <img src="assets/images/common/bagani-logo.png" class="logo">
        <div class="writeup">
            <div class="content">
                <div class="heading">
                    <p>ANG PAG-UURI</p>
                </div>
                <img src="assets/images/common/img-babaylan.png" alt="babaylan" class="babaylan">
                <p class="title">Answer the questions carefully. </p>
                <p class="sub">Take your time because the tribe you will be assigned to is FINAL.</p>
                <div class="button">
                    <a href="#" class="btn btn-register">Start</a>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>