app-login {
    background: url('assets/images/backgrounds/bg-waves.png') center bottom no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: block;
    position: relative;
    background-attachment: fixed;

    .welcome {
        .writeup {
            margin-top: 40px;

            .content {
                .emblem {
                    position: absolute;
                    top: -53px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    max-width: 100%;
                }

                form {
                    width: percentage(375px/730px);
                    margin: 60px auto 0;

                    .form-group {
                        &:nth-child(2) {
                            margin-bottom: 0;
                        }
                    }

                    .btn {
                        font-family: 'Averia Serif Libre', sans-serif;
                        font-size: 1.5em;
                        padding: 20px 40px;
                        margin-top: 20px;
                    }

                    .forgot-password {
                        font-family: "Lato", sans-serif;
                        text-align: left;
                        margin-top: 5px;
                        a {
                            color: #da9c2a;
                            font-size: 0.750em;
                            text-decoration: none;
                        }
                    }
                }
                .bottom {
                    width: percentage(358px/730px);
                    margin: 40px auto 20px;
                    padding-top: 20px;

                    p {
                        font-size: 1.125em;

                        &:last-child {
                            font-size: 0.875em;
                            font-family: "Lato", sans-serif;
                        }
                    }
                }
            }
        }
    }
}