<app-banner-ad></app-banner-ad>
<div class="container paguuri-container">
    <app-top-nav-social-login></app-top-nav-social-login>
    <div class="welcome">
        <img src="assets/images/common/bagani-logo.png" class="logo">
        <div class="writeup">
            <div class="content">
                <img src="assets/images/borders/content-container-emblem.png" class="emblem" alt="">
                <div class="row">
                    <form action="#">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" class="email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password" class="password">
                        </div>
                        <p class="forgot-password"><a href="#">Forgot Password?</a></p>
                        <div class="button">
                            <button class="btn btn-submit">Login</button>
                        </div>
                    </form>
                    <div class="bottom gradient-separator">
                        <p>Don’t have a tribe yet?</p>
                        <p><a href="#">Find out which region best suits you!</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>