<a (click)="openTableOfContents()" class="openTableOfContents" *ngIf="!showTableOfContents"><img src="assets/images/badges/badge-table-of-contents.png" alt=""></a>
<a (click)="closeTableOfContents()" class="openTableOfContents" *ngIf="showTableOfContents"><img src="assets/images/badges/badge-close.png" alt=""></a>
<section class="table-of-contents" [class.show]="showTableOfContents" fadeInOut>
    <div class="banner">
        <img src="assets/images/common/banner-{{userDetails.tribe}}.png" alt="">
    </div>
    <div class="menu">
        <div *ngFor="let menu of wikiaMenu">
            <p class="title">{{menu.title}}</p>
            <ul class="stories">
            	<li *ngFor="let sub of menu.subMenu"><a href="wikia/inner/{{userDetails.tribe}}/{{sub.slug}}">{{sub.title}}</a></li>
            </ul>
        </div>
    </div>
</section>