<!-- Widgets buttons -->
<div class="widget-sidebar-container">
    <a href="#" class="widget-btn widget-questlog" data-target="#sidebarQuestlog" title="Quest Log"></a>
    <a href="#" class="widget-btn widget-badge" data-target="#sidebarBadges" title="Badges"></a>
    <a href="#" class="widget-btn widget-chat" data-target="#sidebarChat" title="Chat"></a>
    <a href="#" class="widget-btn widget-help" data-target="#helpLightbox" title="Help"></a>
</div>
<!-- /Widgets buttons -->
<!-- Journal -->
<div class="main-sidebar sidebar-journal" id="sidebarQuestlog">
    <div class="sidebar-header">
        <a class="close-sidebar">
			<img src="assets/images/map/pop-up-close.png" alt="">
		</a>
    </div>
    <div class="sidebar-body">
        <div class="sidebar-sub-header">
            <div class="figure">
                <img src="assets/images/common/img-babaylan.png" alt="babaylan" class="babaylan">
            </div>
            <div class="details">
                <p>{{journalHeading}} </p>
            </div>
        </div>
        <div class="content-details collapsible-wrapper">
            <ul class="bulleted-list collapsible-item" *ngFor="let journal of journalEntries">
                <li>
                    <div [class.collapsible-header]="journal.challenges.length > 0">
                        <div class="left">
                            <h3>{{journal.title}}</h3>
                            <p>{{journal.desc}}</p>
                            <div class="progress-bar-container inline" *ngIf="journal.challenges.length > 0">
                                <div class="progress-bar">
                                    <span [ngStyle]="{'width': getProgress(journal.challenges, journal.challenges.length)+'%'}"></span>
                                </div>
                                <span class="num">{{countStatus(journal.challenges)}}/{{journal.challenges.length}}</span>
                            </div>
                        </div>
                        <div class="right" *ngIf="journal.challenges.length < 1">
                            <a [href]="journal.link" class="btn btn-claim">GO</a>
                            <div class="time-left">
                                <p class="time">00:01:05</p>
                                <p>Time Left</p>
                            </div>
                        </div>
                    </div>
                    <div class="collapsible-content" *ngIf="journal.challenges.length > 0">
                        <ul class="bulleted-list sub">
                            <li *ngFor="let subchallenge of journal.challenges" [class]="subchallenge.status">
                                <div>
                                    <div class="left">
                                        <p>{{subchallenge.title}}</p>
                                    </div>
                                    <div class="right" *ngIf="subchallenge.status != 'done'">
                                        <a [href]="subchallenge.link" class="btn btn-claim">GO</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /Journal -->
<!-- Badges -->
<div class="main-sidebar sidebar-badges" id="sidebarBadges">
    <div class="sidebar-header">
        <a href="#" class="close-sidebar"><img src="assets/images/map/pop-up-close.png" alt=""></a>
        <!-- <div class="header-full">
			<h1>BADGES</h1>
			<p style="display: none;">You've achived 4/15 badges!</p>
		</div> -->
        <div class="header-full">
            <div class="grid grid-1">
                <div class="grid-cell">
                    <h1>BADGES</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-body">
        <div class="sidebar-sub-header">
            <div class="figure">
                <span class="badge badge-full badge-{{currentBadgeView.currentLevel}}">
                	<span class="badge-icons {{currentBadgeView.slug}}-icon-gray" *ngIf="currentBadgeView.currentLevel == 'unearned'"></span>
                	<span class="badge-icons {{currentBadgeView.slug}}-icon" *ngIf="currentBadgeView.currentLevel != 'unearned'"></span>
                	<span class="plate plate-2 plate-{{userDetails.tribe}}"><strong>{{currentBadgeView.title}}</strong></span>
                </span>
            </div>
            <div class="details">
                <div class="progress-bar-container">
                    <span class="label">NEXT: {{currentBadgeView.nextLevel}}</span>
                    <span class="num">{{currentBadgeView.completedSubChallenges}}/{{currentBadgeView.totalSubChallenges}}</span>
                    <div class="progress-bar">
                        <!-- <span style="width: 40%;"></span> -->
                        <span [ngStyle]="{'width': (currentBadgeView.completedSubChallenges/currentBadgeView.totalSubChallenges)*100+'%'}"></span>
                    </div>
                    <p>{{currentBadgeView.instructions}}</p>
                </div>
            </div>
        </div>
        <div class="scrollable">
            <div class="grid grid-4">
                <div class="grid-cell" *ngFor="let badge of badgesData" (click)="currentBadge(badge)">
                    <div class="badge badge-full badge-{{badge.currentLevel}}">
                        <span class="badge-icons {{badge.slug}}-icon-gray" *ngIf="badge.currentLevel == 'unearned'"></span>
                        <span class="badge-icons {{badge.slug}}-icon" *ngIf="badge.currentLevel != 'unearned'"></span>
                    </div>
                </div>
            </div>
            <div class="blank-more">
                <h1>MORE BADGES<br>COMING SOON!</h1>
            </div>
        </div>
    </div>
</div>
<!-- /Badges -->
<!-- Chat -->
<div class="main-sidebar sidebar-chat farming-theme" id="sidebarChat">
    <div class="sidebar-header">
        <a class="close-sidebar"><img src="assets/images/map/pop-up-close.png" alt=""></a>
        <div class="header-full">
            <div class="grid grid-2">
                <div class="grid-cell tab tribe-tab active" data-target="#tribeChat">
                    <img src="assets/images/common/farm-icon-sm.png" alt="Icon" class="icon">
                    <span>Farming Tribe</span>
                </div>
                <div class="grid-cell tab global-tab" data-target="#globalChat">
                    <img src="assets/images/common/sansinukob-icon.png" alt="" class="icon">
                    <span>Sansinukob</span>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-body">
        <div class="chat-convo tribe-chat active" id="tribeChat">
            <div class="content">
                <div class="message-container">
                    <div class="message-details">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        <span class="time">Mar 13 | 12:30 AM</span>
                    </div>
                    <span class="user-image">
						<img src="assets/images/common/user-avatar.jpg" alt="">
					</span>
                </div>
                <div class="message-container owner">
                    <div class="message-details">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        <span class="time">Mar 13 | 12:30 AM</span>
                    </div>
                    <span class="user-image">
						<img src="assets/images/common/user-avatar-you.jpg" alt="">
					</span>
                </div>
                <div class="message-container">
                    <div class="message-details">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        <span class="time">Mar 13 | 12:30 AM</span>
                    </div>
                    <span class="user-image">
						<img src="assets/images/common/user-avatar.jpg" alt="">
					</span>
                </div>
                <div class="message-container owner">
                    <div class="message-details">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        <span class="time">Mar 13 | 12:30 AM</span>
                    </div>
                    <span class="user-image">
						<img src="assets/images/common/user-avatar-you.jpg" alt="">
					</span>
                </div>
                <div class="message-container">
                    <div class="message-details">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        <span class="time">Mar 13 | 12:30 AM</span>
                    </div>
                    <span class="user-image">
						<img src="assets/images/common/user-avatar.jpg" alt="">
					</span>
                </div>
                <div class="message-container owner">
                    <div class="message-details">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        <span class="time">Mar 13 | 12:30 AM</span>
                    </div>
                    <span class="user-image">
						<img src="assets/images/common/user-avatar-you.jpg" alt="">
					</span>
                </div>
            </div>
            <div class="chat-form">
                <textarea rows="1" placeholder="Talk to your tribe"></textarea>
                <button class="btn btn-post">POST</button>
            </div>
        </div>
        <div class="chat-convo global-chat" id="globalChat">
            <div class="content">
                <div class="message-container farming-tribe">
                    <div class="message-details">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        <span class="time">Mar 13 | 12:30 AM</span>
                    </div>
                    <span class="user-image">
						<img src="assets/images/common/user-avatar.jpg" alt="">
					</span>
                </div>
                <div class="message-container fishing-tribe">
                    <div class="message-details">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        <span class="time">Mar 13 | 12:30 AM</span>
                    </div>
                    <span class="user-image">
						<img src="assets/images/common/user-avatar.jpg" alt="">
					</span>
                </div>
                <div class="message-container forest-tribe">
                    <div class="message-details">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        <span class="time">Mar 13 | 12:30 AM</span>
                    </div>
                    <span class="user-image">
						<img src="assets/images/common/user-avatar.jpg" alt="">
					</span>
                </div>
                <div class="message-container desert-tribe owner">
                    <div class="message-details">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        <span class="time">Mar 13 | 12:30 AM</span>
                    </div>
                    <span class="user-image">
						<img src="assets/images/common/user-avatar-you.jpg" alt="">
					</span>
                </div>
                <div class="message-container desert-tribe owner">
                    <div class="message-details">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        <span class="time">Mar 13 | 12:30 AM</span>
                    </div>
                    <span class="user-image">
						<img src="assets/images/common/user-avatar-you.jpg" alt="">
					</span>
                </div>
                <div class="message-container trade-tribe">
                    <div class="message-details">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        <span class="time">Mar 13 | 12:30 AM</span>
                    </div>
                    <span class="user-image">
						<img src="assets/images/common/user-avatar.jpg" alt="">
					</span>
                </div>
                <div class="message-container desert-tribe owner">
                    <div class="message-details">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        <span class="time">Mar 13 | 12:30 AM</span>
                    </div>
                    <span class="user-image">
						<img src="assets/images/common/user-avatar-you.jpg" alt="">
					</span>
                </div>
            </div>
            <div class="chat-form">
                <textarea rows="1" placeholder="Talk to your tribe"></textarea>
                <button class="btn btn-post">POST</button>
            </div>
        </div>
    </div>
</div>
<!-- /Chat -->
<!-- START: Lightbox Error -->
<div class="lightbox lightbox-centered" id="errorLightbox">
    <a class="btn-close"><img src="assets/images/map/pop-up-close.png" alt=""></a>
    <div class="lightbox-content">
        <div class="lightbox-body">
            <div class="content-body">
                <div class="claim-badge">
                    <span class="badge badge-full badge-copper">
	                	<span class="badge-icons farming-citizen-icon"></span>
                    <span class="plate plate-desert">CITIZEN</span>
                    </span>
                    <img src="assets/images/common/circle-shine-rotate.png" alt="Shine" class="circle-shine">
                </div>
                <h1>Congratulations!</h1>
                <h3>You’ve earned the Citizen Badge.</h3>
            </div>
        </div>
    </div>
</div>
<!-- END: Lightbox Error -->
<!-- START: Lightbox Help -->
<div class="lightbox lightbox-help" id="helpLightbox" style="/*display: block;">
    <a class="btn-close"><img src="assets/images/map/pop-up-close.png" alt=""></a>
    <div class="lightbox-content">
        <div class="lightbox-body">
            <div class="content-body">
                <div class="figure">
                    <img src="assets/images/common/img-babaylan.png" alt="babaylan" class="babaylan">
                </div>
                <div class="details" [innerHTML]="helpData">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Lightbox Help -->