<div class="left">
    <p class="title">Explore
        <br> Sansinukob</p>
    <hr>
    <p class="sub">A land rich of Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
    <hr>
    <p class="small">Click on each of the regions to read about its stories, history, people, and culture.</p>
</div>
<div class="right">
    <img #sansinukobMap src="assets/images/unregistered/map/map-default.png" alt="sansinukob" usemap="#sansinukob" (window:resize)="onResize($event)" />
    <map name="sansinukob">
        <area #mapA target="" alt="" title="" href="" coords="" shape="poly" (mouseenter)="focusMap('trade')" (click)="showModal('trade')">
        <area #mapB target="" alt="" title="" href="" coords="" shape="poly" (mouseenter)="focusMap('desert')" (click)="showModal('desert')">
        <area #mapC target="" alt="" title="" href="" coords="" shape="poly" (mouseenter)="focusMap('farm')" (click)="showModal('farm')">
        <area #mapD target="" alt="" title="" href="" coords="" shape="poly" (mouseenter)="focusMap('forest')" (click)="showModal('forest')"> 
        <area #mapE target="" alt="" title="" href="" coords="" shape="poly" (mouseenter)="focusMap('fishing')" (click)="showModal('fishing')">
    </map>
    <div class="focus" style="width: 100%;">
        <img #mapFocusA src="assets/images/unregistered/map/map-trade.png" alt="map-trade" (click)="showModal('trade')" class="map-trade" [hidden]="showMap != 'trade'">
        <img #mapFocusB src="assets/images/unregistered/map/map-desert.png" alt="map-desert" (click)="showModal('desert')" class="map-desert" [hidden]="showMap != 'desert'">
        <img #mapFocusC src="assets/images/unregistered/map/map-farm.png" alt="map-farm" (click)="showModal('farm')" class="map-farm" [hidden]="showMap != 'farm'">
        <img #mapFocusD src="assets/images/unregistered/map/map-forest.png" alt="map-forest" (click)="showModal('forest')" class="map-forest" [hidden]="showMap != 'forest'">
        <img #mapFocusE src="assets/images/unregistered/map/map-fishing.png" alt="map-fishing" (click)="showModal('fishing')" class="map-fishing" [hidden]="showMap != 'fishing'">
    </div>
</div>